/* Reset default margin and padding */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comic Sans MS', cursive !important;
  background: url('assets/images/main_bg.jpg');
  color: black;
}

header {
  padding: 10px 0;
  text-align: center;
}

h1 {
  font-size: 30px !important;
}

main {
  padding: 20px;
}

article {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


